.products-page {
    display: flex;
  }
  
  .sidebar {
    width: 20%;
    padding: 10px;
  }
  
  .products-container {
    width: 80%;
    padding: 20px;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  